<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<span th:text="${username.getLogin()}"></span>
<br>
User info:
<br>
<span th:text="${username.getEmail()}"></span>
<br>
<span th:text="${username.getPassword()}"></span>
<br>
<span th:text="${username.getIcon()}"></span>
<br>

<div th:each="profile:${profiles}"  >
    <br>
    <form th:action="@{/profile/user-profile}"  method="post" >
        <button type="submit" th:name="profileName" th:value="${profile.getName()}"><span th:text="${profile.getName()}"></span></button>
    </form>
    <br>
</div>
<br>
<p><a th:href="@{/profile/add-profile}">Add profile</a></p>
<br>
<p><a th:href="@{/profile/edit}">Edit profile</a></p>
<br>
<p><a th:href="@{/profile/account}">Account</a></p>
<br>
<br>
<p><a th:href="@{/profile/subscribe}">Buy sub</a></p>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>