<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Disney
<br>
<span th:text="${firstType}"></span>
<br>
<div th:each="movie:${firstTypeMovies}">
    <a th:href="@{/watch/{id}(id = ${movie.id})}">
        <table>
            <tr>
                <th>
                    <span th:text="${movie.name}"></span>
                </th>
            </tr>
        </table>
    </a>
</div>
<br>
<span th:text="${secondType}"></span>
<br>
<div th:each="movie:${secondTypeMovies}">
    <a th:href="@{/watch/{id}(id = ${movie.id})}">
        <table>
            <tr>
                <th>
                    <span th:text="${movie.name}"></span>
                </th>
            </tr>
        </table>
    </a>
</div>
<br>
<span th:text="${thirdType}"></span>
<br>
<div th:each="movie:${thirdTypeMovies}">
    <a th:href="@{/watch/{id}(id = ${movie.id})}">
        <table>
            <tr>
                <th>
                    <span th:text="${movie.name}"></span>
                </th>
            </tr>
        </table>
    </a>
</div>
<br>
<span th:text="${fourthType}"></span>
<br>
<div th:each="movie:${fourthTypeMovies}">
    <a th:href="@{/watch/{id}(id = ${movie.id})}">
        <table>
            <tr>
                <th>
                    <span th:text="${movie.name}"></span>
                </th>
            </tr>
        </table>
    </a>
</div>
<br>
<span th:text="${fifthType}"></span>
<br>
<div th:each="movie:${fifthTypeMovies}">
    <a th:href="@{/watch/{id}(id = ${movie.id})}">
        <table>
            <tr>
                <th>
                    <span th:text="${movie.name}"></span>
                </th>
            </tr>
        </table>
    </a>
</div>
</body>
</html>