<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<span th:text="${movie.name}"> </span>
<br>
<span th:if="${ifPresent == false}">
<form th:action="@{/movies/watch/{id}(id =${movie.getId()})}" method="post">
<button type="submit">Add to Watchlist</button>
</form>
    </span>
</body>

</html>