<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<form th:action="@{/explore/search}" method="post">
    <input type="text" name="text" placeholder="Enter the movie name">
    <button type="submit">Find</button>
</form>

<div th:each="movie:${Movies}">
    <a th:href="@{/movies/watch/{id}(id = ${movie.id})}">
        <table>
            <tr>
                <th>
                    <span th:text="${movie.name}"></span>
                </th>
            </tr>
        </table>
    </a>
</div>
<p><a th:href="@{/explore/through-the-decades}">Through the decades</a></p>
</body>
</html>