<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
1940s
<div th:each="movie:${Movies1940s}">
    <a th:href="@{/watch/{id}(id = ${movie.id})}">
        <table>
            <tr>
                <th>
                    <span th:text="${movie.name}"></span>
                </th>
            </tr>
        </table>
    </a>
</div>
2010s
<div th:each="movie:${Movies2010s}">
    <a th:href="@{/watch/{id}(id = ${movie.id})}">
        <table>
            <tr>
                <th>
                    <span th:text="${movie.name}"></span>
                </th>
            </tr>
        </table>
    </a>
</div>
</body>
</html>